{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}

{% block title %}{% trans "Created private topics" %}{% endblock %}

{% block content %}

    {% include "spirit/topic/private/_top_bar.html" with active="left" %}

    <div class="rows">

        {% for t in topics %}
            <div class="row">
                <a href="{% url "spirit:private-join" topic_id=t.pk %}">{{ t.title }}</a> <a class="row-edit js-post" href="{% url "spirit:private-join" topic_id=t.pk %}"><i class="fa fa-users"></i> {% trans "join" %}</a>
            </div>
        {% empty %}
            <p>{% trans "There are no topics here, yet" %}</p>
        {% endfor %}

    </div>

    {% render_paginator topics %}

{% endblock %}
