include MANIFEST.in
include LICENSE
include README.md
include HISTORY.md
include requirements.txt

graft spirit

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .git*
global-exclude .DS_Store
