appdirs==1.4.3
Django==1.11.1
django-djconfig==0.5.3
django-haystack==2.5.1
django-infinite-scroll-pagination==0.2.0
django-twitter-bootstrap==3.3.0
google-api-python-client==1.6.2
httplib2==0.10.3
mistune==0.7.1
oauth2client==4.1.0
olefile==0.44
packaging==16.8
Pillow==4.1.1
psycopg2==2.7.1
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.2.0
pytz==2017.2
rsa==3.4.2
six==1.10.0
uni-slugify==0.1.4
Unidecode==0.4.20
uritemplate==3.0.0
Whoosh==2.7.0
