{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Poll close or open" %}{% endblock %}

{% block content %}

    <h1 class="headline">
        {% if poll.is_closed %}
            {% trans "Are you sure you want to open this poll" %}
        {% else %}
            {% trans "Are you sure you want to close this poll" %}
        {% endif %}
    </h1>

    <form action="." method="post">
        {% csrf_token %}

        <input class="button" type="submit" name="post" value="{% if poll.is_closed %}{% trans "Open" %}{% else %}{% trans "Close" %}{% endif %}" />
    </form>

{% endblock %}