{% load spirit_tags i18n %}

<form action="{% url "spirit:comment:poll:vote" pk=poll.pk %}" method="post" id="p{{ poll.pk }}">
    {% csrf_token %}

    {% for field in form %}
        <div class="field">
            {{ field }} {{ field.label_tag }}
        </div>
    {% endfor %}

    <input class="button" type="submit" name="post" value="{% trans "Vote" %}" />
    <a href="?{% to_query_params show_poll=poll.pk %}#p{{ poll.pk }}">
        <i class="fa fa-eye"></i> {% trans "Show results" %}
    </a>

    {% if user.is_authenticated and user.pk == comment.user.pk %}
        {% if poll.is_closed %}
            <a class="head-edit-link js-post" href="{% url "spirit:comment:poll:open" pk=poll.pk %}">
                <i class="fa fa-unlock"></i> {% trans "open" %}
            </a>
        {% else %}
            <a class="head-edit-link js-post" href="{% url "spirit:comment:poll:close" pk=poll.pk %}">
                <i class="fa fa-lock"></i> {% trans "close" %}
            </a>
        {% endif %}
    {% endif %}
</form>
