{% extends "spirit/_base.html" %}

{% load spirit_tags i18n %}

{% block title %}{% blocktrans trimmed with choice_description=choice.description %}Voters for {{ choice_description }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="layout__article">
  <h1 class="headline">
    {% blocktrans trimmed with choice_description=choice.description %}
      Voters for {{ choice_description }}
    {% endblocktrans %}
  </h1>

  <div class="layout__list">
    {% for v in votes %}
      <div class="layout__list__item">
        <div class="layout__list__item__title">
          <a
            class="layout__list__item__link"
            href="{{ v.voter.st.get_absolute_url }}"
          >{{ v.voter.st.nickname }}</a>
        </div>
        <div class="layout__list__item__date">
          <i class="fa fa-clock-o"></i> {{ v.created_at|shortnaturaltime }}
        </div>
      </div>
    {% endfor %}
  </div>

  {% render_paginator votes %}
</div>
{% endblock %}



