// Fonts

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url("vendors/fonts/Ubuntu-300.woff2") format('woff2'),
       url("vendors/fonts/Ubuntu-300.woff") format('woff');
}

