// Forms styles

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: $half-spacing-size / 2 $half-spacing-size;
  border: 1px solid var(--st-br-textarea);
  background-color: var(--st-bg-input);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--st-br-input-focus);
}

input[type="checkbox"] {
  display: block;
  margin: $half-spacing-size / 2 $half-spacing-size;
  margin-bottom: $base-spacing-size;
  cursor: pointer;
}

label {
  display: block;
  font-size: 1rem !important;
  line-height: 1rem !important;
  margin-bottom: $half-spacing-size;
  &[for] {
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: inline;
    margin: $half-spacing-size / 2 $half-spacing-size;
    margin-bottom: 0;
  }
}
