@import "emojis";

//neat grid + bourbon
@import "vendors/bourbon/bourbon";
@import "modules/grid-settings";
@import "vendors/neat/neat";

//modules
@import "modules/base";
@import "modules/mixins";
@import "modules/colors";
@import "modules/functions/modular-scale";
@import "modules/functions/px-to-rem";

//elements
@import "elements/normalize";
@import "elements/reset";
@import "elements/layout";
@import "elements/forms";
@import "elements/fonts";
@import "elements/links";
@import "elements/lists";
@import "elements/headings";

//objects
@import "objects/patterns";
@import "objects/buttons";
@import "objects/media";
@import "objects/tabs";
@import "objects/side-menu";

//partials
@import "partials/layout";
@import "partials/header";
@import "partials/footer";
@import "partials/headings";
@import "partials/forms";
@import "partials/video";

// Base_Patterns_start
%flex-nav {
  margin-bottom: $space-full;
  display: flex;
  flex-direction: column;
  @media #{$medium} {
    flex-direction: row;
    align-items: flex-start;
    //flex-wrap: wrap;
  }
  & > * {
    margin-bottom: $space-half;
    @media #{$medium} {
      margin-bottom: 0;
      //margin-right: $space-half;
    }
    &:last-child {
      margin-bottom: 0;
      //margin-right: 0;
    }
  }
}
// Base_Patterns_end
// Base_start
.layout {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $dark-grey;
  background-color: $white;
  cursor: default;
  width: 100%;
  max-width: 1080px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 $space;

  display: grid;
  grid-template:
    "hr hr hr hr hr hr hr hr" auto
    "ae ae ae ae ae ae ae ae" 1fr
    "fr fr fr fr fr fr fr fr" auto;
  grid-gap: $space-full;
}
.layout__header {
  grid-area: hr;
  display: flex;
  flex-wrap: wrap;
}
  .header__logo_wrapper {
    flex: none;
    //border: 1px solid #000;
  }
  .header__tabs {
    margin-left: auto;
    flex: initial;
    display: flex;
    align-items: center;
    //border: 1px solid #000;
    li {
      margin-left: $space-full;
    	&:first-child {
        margin-left: 0;
      }
    }
  }
    .header__tabs__item {
      &.is-selected {
        color: $black;
      }
      &.is-highlighted {
        color: $red;
      }
    }
  .header__tabs_content {
    flex: 0 0 100%;
  }
    .header__tabs_content__tab {
      display: flex;
    }
      .header__tab__nav {
        flex: 1;
        @media #{$medium} {
          flex: initial;
          margin-left: auto;
        }
      }
      .header__tab__bell {
        flex: 1;
      }
        .bell__list {
          display: flex;
          flex-direction: column;
          li {
            @extend %break-words;
            background-color: $lightest-grey;
            padding: 0 $half-spacing-size;
            margin-bottom: $quarter-spacing-size;
          	&:last-child {
              margin-bottom: 0;
            }
          }
        }
      .header__tab__search {
        flex: 1;
      }
.layout__article {
  grid-area: ae;
}
.layout__footer {
  grid-area: fr;
  justify-self: end;
  margin-top: 50px;
  margin-bottom: $space-full;
}
  .footer__logo {
    font-size: rem(14px);
  }
.header__logo {
  font-size: rem(28px);
  line-height: $base-line-height * 2;
  color: $dark-grey;
}
.tab_content {
  display: none;
}
.dropdown_button {
  @extend %button-base;
}
.menu__dropdown {
  display: flex;
  flex-direction: column;
  @media #{$medium} {
    align-items: flex-start;
  }
}
  .menu__dropdown_button {
  }
// menu_list may be used outside of menu__dropdown, ex: as tab
.menu_list {
  display: flex;
  flex-direction: column;
  li {
    background-color: $lightest-grey;
    margin-bottom: $quarter-spacing-size;
	  &:last-child {
      margin-bottom: 0;
    }
  }
}
  .menu_list__link {
    display: block;
    padding: 0 $half-spacing-size;
  }
%messages {
  display: flex;
  flex-direction: column;
  padding: $space-half;
  margin-bottom: $space-full;
}
.messages_info {
  @extend %messages;
  background: $light-blue;
}
.messages_error {
  @extend %messages;
  background: $light-red;
}
.message_title {
  margin-bottom: $half-spacing-size;
  &.is-info {
    color: $dark-blue;
  }
  &.is-error {
    color: $red;
  }
}
.message_text {
}
// Base_end
// Topics_start
.layout__menu {
  @extend %flex-nav;
}
  .menu__new_topic {
    @media #{$medium} {
      flex: none;
      margin-left: auto;
    }
  }
.layout__topics {
}
  .layout__topics__topic {
    display: flex;
    flex-wrap: wrap;
    padding: $space-half;
    border-top: $lighter-grey 1px solid;
    &:last-child {
      border-bottom: $lighter-grey 1px solid;
    }
  }
    .topic__title {
      @extend %break-words;
      flex: 0 0 100%;
    }
    %topic__low_cell {
      flex: none;
      font-size: rem(12px);
      color: $grey;
    }
    .topic__category {
      @extend %topic__low_cell;
    }
    .topic__comments {
      @extend %topic__low_cell;
      padding-left: $space-half;
    }
    .topic__date {
      @extend %topic__low_cell;
      padding-left: $space-half;
    }
    .topic__link {
      color: $dark-grey;
      &:visited,
      &.is-visited {
        color: $grey;
      }
    }
// Topics_end
// Comments_start
.layout__comments {
  grid-area: ae;
  display: flex;
  flex-direction: column;
}
  .comments__move {
    margin-bottom: $space-full;
  }
  input.comments__move_checkbox {
    display: inline-block;
    margin: 0;
  }
.breadcrumb_nav {
  display: flex;
  font-size: rem(14px);
  //border: 1px solid #000;
  li {
    margin-left: $space-half;
    &:first-child {
      margin-left: 0;
    }
  }
  .fa {
    margin-left: $space-half;
  }
}
.comments_list {
  margin-bottom: $space-full;
}
  .comments_list__comment {
    padding: $space-half;
    border-top: $lighter-grey 1px solid;
    display: grid;
    grid-template:
      "im io" auto
      "tx tx" 1fr
      "ac ac" auto / auto 1fr;
    @media #{$medium} {
      grid-template:
        "im io" auto
        "im tx" 1fr
        "ac ac" auto / auto 1fr;
    }
    &:last-child {
      border-bottom: $lighter-grey 1px solid;
    }
  }
    .comment__img {
      grid-area: im;
      margin-right: $space-half;
      margin-bottom: $space-half;
      display: flex;
      align-items: center;
      @media #{$medium} {
        align-items: initial;
      }
    }
      .comment__img__avatar {
        width: 44px;
        height: 44px;
        border-radius: 22px;
        @media #{$medium} {
          width: 50px;
          height: 50px;
          border-radius: 25px;
        }
      }
    .comment__info {
      grid-area: io;
      font-size: rem(14px);
      margin-bottom: $space-half;
      display: flex;
      align-items: center;
      @media #{$medium} {
        align-items: initial;
      }
    }
      .comment__info__username {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media #{$medium} {
          flex-direction: row;
        }
      }
        .comment__info__username__link {
          &.is-admin {
            background: $yellow;
          }
          &.is-mod {
            background: $light-blue;
          }
        }
        .comment__info__username__realname {
          @extend %break-words;
          @media #{$medium} {
            margin-left: $space-half;
          }
        }
      .comment__info__date {
        flex: none;
        margin-left: auto;
        display: flex;
        li {
          margin-left: $space-half;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    .comment__text {
      @extend %break-words;
      grid-area: tx;
      blockquote {
        margin: 0;
        border-left: $light-grey 4px solid;
      	padding-left: $base-spacing-size;
      }
      ul {
        list-style-type: disc;
        list-style-position: inside;
      	margin-left: 40px;
      	margin-bottom: $base-line-height;
      }
      img {
        vertical-align: text-bottom;
      }
      & > *:last-child {
        margin-bottom: $space-half;
      }
    }
      //.comment-poll
      .comment__text__poll {
        margin-bottom: $space-half;
        & form > * {
          margin-bottom: $space-half;
        }
      }
        //.poll_title {
        .comment__text__poll__title {
        }
        //.poll-choices {
        .comment__text__poll__choices {
          ul {
            list-style-type: none;
            margin-left: 0;
            margin-bottom: $space-half;
          }
          label {
            font-size: $base-font-size;
          }
        }
          //.poll-choice {
          .comment__text__poll__choices__choice {
            margin-bottom: $space-half;
          }
            //.choice-description {}
            .comment__text__poll__choices__choice__description {
            }
            //.choice-bar {
            .comment__text__poll__choices__choice__bar {
              height: 14px;
              background-color: $light-grey;
            }
        //.poll-note {
        .comment__text__poll__note {
          font-size: 14px;
        }
        //.poll_actions
        .comment__text__poll__actions {
        }
          //.poll-action {
          .comment__text__poll__actions__action {
            font-size: 14px;
            margin-left: $space-quarter;
            &:first-child {
              margin-left: 0;
            }
          }
    .comment__footer {
      grid-area: ac;
      display: flex;
      flex-direction: column;
    }
      .comment__actions {
        display: flex;
        margin-left: auto;
        font-size: rem(14px);
        li {
          margin-left: $space-half;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .comment__footer__share {
        display: flex;
        flex-direction: column;
        @media #{$medium} {
          margin-left: auto;
        }
      }
        .comment__footer__share__url {
          min-width: 250px;
          margin-bottom: $space-quarter;
        }
        .comment__footer__share__menu {
          display: flex;
          flex-direction: column;
          li {
            background-color: $lightest-grey;
            margin-bottom: $space-quarter;
            &:last-child {
              margin-bottom: 0;
            }
          }
          a {
            display: block;
            padding: 0 $space-half;
          }
        }
.comments__footer_menu {
  @extend %flex-nav;
  @media #{$medium} {
    align-items: center;
  }
}
  .comments__footer_menu__paginator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $space-full;
    //border: 1px solid #000;
    @media #{$medium} {
      margin-bottom: 0;
    }
    li {
      margin-left: $space-half;
      &:first-child {
        margin-left: 0;
      }
    }
  }
    .paginator__pages {
      @extend %break-words;
      flex: initial;
      //border: 1px solid #000;
    }
    .paginator__button {
      flex: none;
      //border: 1px solid #000;
      a {
        display: block;
        padding: ($base-spacing-size / 6) $half-spacing-size;
        border: $light-grey 1px solid;
      }
    }
  .comments__footer_menu__notify {
    //border: 1px solid #000;
    @media #{$medium} {
      flex: none;
      margin-left: auto;
    }
  }
  .comments__reply {
    padding: $space-half;
    margin-top: $space-full * 2;
    display: grid;
    grid-template:
      "im io" auto
      "tx tx" auto / auto 1fr;
    @media #{$medium} {
      grid-template:
        "im io" auto
        "im tx" auto / auto 1fr;
    }
  }
    .comments__reply__img {
      grid-area: im;
      margin-right: $space-half;
      margin-bottom: $space-half;
    }
    .comment__reply__info {
      grid-area: io;
      font-size: rem(14px);
      margin-bottom: $space-half;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      @media #{$medium} {
        flex-direction: row;
        justify-content: initial;
      }
    }
      .comment__reply__info__link {
      }
      .comment__reply__info__realname {
        @extend %break-words;
        @media #{$medium} {
          margin-left: $space-half;
        }
      }
    .comment__reply__text {
      grid-area: tx;
      textarea {
        height: $base-line-height * 4;
      }
    }
    .comment__reply__preview {
      min-height: $base-line-height * 4;
    }
    .comment__reply__actions {
      display: flex;
      flex-direction: column;
      @media #{$medium} {
        flex-direction: row;
        align-items: center;
      }
      & > * {
        margin-top: $space-half;
      }
    }
      .comment__reply__actions__list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        li {
          margin-left: $space-full;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .comment__reply__actions__publish {
        flex: none;
        margin-left: auto;
      }
// Comments_end
// Admin_start
.layout__admin {
  grid-area: ae;
}
  .admin__category_menu {
    @extend %flex-nav;
  }
    .admin__category_menu__new_category {
      flex: 1;
      @media #{$medium} {
        flex: none;
        margin-left: auto;
      }
    }
  .admin__items_list {
  }
    .admin__items_list__item {
      display: flex;
      padding: $space-half;
      border-top: $lighter-grey 1px solid;
      &:last-child {
        border-bottom: $lighter-grey 1px solid;
      }
    }
      .admin__items_list__item__title {
        @extend %break-words;
        flex: 1;
        margin-right: $space-half;
      }
      .admin__items_list__item__action {
        flex: none;
      }
  .admin__statistics {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: $space-full;
    grid-auto-flow: row dense;
  }
  .admin__statistics__box {
    @extend %break-words;
    padding: $space-half $space-half;
    background: $lightest-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .admin__flag_menu {
    @extend %flex-nav;
  }
    .admin__flag_menu__mod_by {
      display: flex;
    }
      .admin__flag_menu__mod_by__user {
        margin-left: $space-half;
      }
  .admin__flag_menu__mark_solved {
    @media #{$medium} {
      margin-left: auto;
    }
  }
  .admin__tabs {
    font-size: rem(18px);
    display: flex;
    flex-wrap: wrap;
    gap: $half-spacing-size;
  }
  .admin__tabs__link {
    display: block;
    padding: 0 $space-half $space-quarter $space-half;
    &.is-selected {
      color: $black;
      border-bottom: $light-grey 4px solid;
    }
  }

// Admin_end
























.rows {
  margin-bottom: $base-spacing-size;
}

.row,
%row {
  @extend %clearfix;
  padding: $half-spacing-size;
  border-top: $light-grey 1px solid;
	  
  &:last-child {
	border-bottom: $light-grey 1px solid;
  }
}

.row-title {
  @include span-columns(4);
  margin-bottom: $half-spacing-size;
  
  @media #{$medium} {
    @include span-columns(4);
	margin-bottom: 0;
  }
}

.row-link {
  color: $dark-grey;
  
  &:visited,
  &.is-visited {
    color: $grey;
  }
}

.row-info {
  @include span-columns(4);
  color: $grey;

  div {
	@extend %inline-block;
	margin-left: $base-spacing-size;
	
	&:first-child {
      margin-left: 0;
    }
  }

  .is-new {
    color: $red;
  }
  
  @media #{$medium} {
    @include span-columns(4);
	text-align: right;
  }
}

.row-unread {
  font-size: ms(-1);
  background-color: $light-blue;
}

.row-edit {
  float: right;
}

//topic list

.categories {
  @include span-columns(4);
  margin-bottom: $half-spacing-size;
  
  @media #{$medium} {
    @include span-columns(4);
  }
}

.tab-content {
  display: none;
}

.new-topic {
  @include span-columns(4);
  
  @media #{$medium} {
    @include span-columns(4);
	text-align: right;
  }
}

//topic moderate

.topic-moderation {
  margin-bottom: $base-spacing-size;
	
  @media #{$medium} {
	text-align: right;

	.menu {
	  text-align: left;
	}
  }
}

.head-edit-link {
  font-size: 14px;
}

.move-comments {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	background: $light-grey;
	padding: $quarter-spacing-size 0;
}

.move-container {
  @include outer-container;
}

.move-link,
.move-label,
.move-input {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-left: $half-spacing-size;
}

.move-link {
  padding: $quarter-spacing-size;
  background: $lightest-grey;
}

.move-input {
  input {
	width: 100px;
	margin: 0;
  }
}

input.move-comment-checkbox {
  display: inline-block;
  margin: 0;
}

//comments


.comments {
  margin-bottom: $base-spacing-size;
}

.comment {
  @extend %row;
  
  &.is-highlighted {
    background: $yellow;
  }
}

.comment-media {
  @extend %media;
}

.comment-img {
  @extend %media-img;
  width: 50px;
  margin-right: $base-spacing-size;
}

.comment-body {
  @extend %media-body;
}

.comment-avatar {
  border-radius: 25px;
}

.comment-info {
  @extend %clearfix;
  font-size: 14px;
  margin-bottom: $half-spacing-size;
}

.comment-username {
  float: left;
}

.comment-date {
  @extend %inline-list;
  float: right;
}

.comment-realname {
  display: none;

  @media #{$medium} {
    display: inline;
    margin-left: $half-spacing-size;
  }
}

.comment-text {
  blockquote {
    margin: 0;
    border-left: $light-grey 4px solid;
	padding-left: $base-spacing-size;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
	margin-left: 40px;
	margin-bottom: $base-line-height;
  }

  img {
    vertical-align: text-bottom;
  }
}

ins.diff {
  text-decoration: none;
  background-color: #EAFFEA;
}

del.diff {
  text-decoration: none;
  background-color: #FFECEC;
}

.comment-actions {
  @extend %inline-list;
  font-size: 14px;
  text-align: right;
}

.comment-removed {
  font-size: 14px;
  word-wrap: break-word;
}

.username {
  &.is-admin {
    background: $yellow;
  }
  
  &.is-mod {
    background: $light-blue;
  }
}

.paginator {
  @extend %inline-list;
  margin-bottom: $base-spacing-size;
  
  @media #{$medium} {
    @include span-columns(4);
  }
}

.paginator-button {
  display: block;
  padding: ($base-spacing-size / 6) $half-spacing-size;
  border: $light-grey 1px solid;
}

.notify {
  margin-bottom: $base-spacing-size * 2;
  
  @media #{$medium} {
    @include span-columns(4);
	text-align: right;
  }
}

.reply {
  padding: $half-spacing-size;
  
  textarea {
    height: $base-line-height * 4;
	margin-bottom: $half-spacing-size;
  }
}

.reply-markdown {
  @extend %inline-list;
  margin-bottom: $base-spacing-size;
  
  @media #{$medium} {
    float: left;
  }
  
  li {
    margin-left: $base-spacing-size;
  }
}

ul.reply-markdown {
  /* reset */
  list-style: none;
  margin-left: 0;
}

.reply-button {
  @media #{$medium} {
    float: right;
  }
}

.topic-publish-comment {
  textarea {
    height: $base-line-height * 10;
  }
}

.share {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9100;
  
  display: table;
  width: 100%;
  height: 100%;
  background: $white;
  background: rgba($white, 0.75);
  
  @media #{$medium} {
    width: 300px;
    height: 150px;
	top: 50%;
	left: 50%;
	margin-top: -75px;
    margin-left: -150px;
	padding: $base-spacing-size;
	border: $light-grey 1px solid;
  }
}

.share-close {
  float: right;
  margin-bottom: $base-spacing-size;
}

.share-box {
  display: table-cell;
  vertical-align: middle;
}

.share-url {
  margin-bottom: $half-spacing-size;
}

.share-actions {
  @extend %inline-list;
  text-align: right;
  
  li {
    margin-left: $base-spacing-size;
  }
}

.comment-poll {
  margin-bottom: $base-spacing-size;
}

.poll_title {
  margin-bottom: $base-line-height / 2;
}

.poll-choices {
  & ul {
    list-style-type: none;
	margin-left: 0;
	margin-bottom: $base-line-height / 2;
  }

  & label {
    font-size: $base-font-size;
  }
}

.poll-choice {
  margin-bottom: $base-line-height / 2;
}

.choice-bar {
  height: 14px;
  background-color: $light-grey;
}

.poll-note {
  font-size: 14px;
  margin-bottom: $base-line-height / 2;
}

.poll-action {
  font-size: 14px;
  margin-left: $base-spacing-size / 4;

  &:first-child {
    margin-left: 0;
  }
}













//menu

.menu,
%menu {
  @media #{$medium} {
    display: inline-block;
  }
	
  li {
    background-color: $lightest-grey;
    margin-bottom: $quarter-spacing-size;
	
	&:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-link {
  display: block;
  padding: 0 $half-spacing-size;
}

.menu-item {
  @extend %clearfix;
  padding: 0 $half-spacing-size;
}

.menu-username {
  float: left;
}

.menu-icon {
  float: right;
}

//profile

.profile-img {
  @include span-columns(4);
  margin-bottom: $base-spacing-size;
  text-align: center;
}

.profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.profile-username {
  font-size: 21px;
}

.profile-info {
  margin-bottom: $base-spacing-size;
  text-align: center;
}

.profile-track {
  @extend %inline-list;
}

.profile-title {
  text-align: left;
}

.profile-date {
  text-align: left;
}

.private-message {
  margin-bottom: $base-spacing-size * 2;
  text-align: center;
}

.profile-preferences {
  margin-bottom: $base-spacing-size * 2;
  text-align: center;
}

//private

.private-participants {
  @include span-columns(4);
  margin-bottom: $half-spacing-size;
  
  @media #{$medium} {
    @include span-columns(4);
  }
}

.private-leave {
  @include span-columns(4);
  margin-bottom: $base-spacing-size;
  
  @media #{$medium} {
    @include span-columns(4);
	text-align: right;
  }
}

.participants-menu {
  @extend %menu;
  margin-bottom: $half-spacing-size;
}

//preferences

.preference-label {
  font-size: 18px;
  margin-bottom: $half-spacing-size;
}

.preference-desc {
  margin: 0;
  margin-bottom: $base-spacing-size;
  padding: 0 $half-spacing-size;
}

//login

.login {
  margin-bottom: $base-spacing-size;
}

.login-link {
  display: block;
  margin-bottom: $quarter-spacing-size;
}

//flash messages

.messages {
  &.is-fixed {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    max-width: $max-width;
    max-height: 100%;
    overflow-y: auto;
  }
}

%messages {
  display: flex;
  margin-bottom: $base-spacing-size;
  padding: $half-spacing-size;
}

.messages-info {
  @extend %messages;
  background: $light-blue;
}

.messages-error {
  @extend %messages;
  background: $light-red;
}

.messages-message {
  flex: 1 100%;
}

.messages-close {
  flex: 1 20px;
}

.messages-close-button {
  cursor: pointer;
}

.message-title {
  margin-bottom: $half-spacing-size;
  
  &.is-info {
    color: $dark-blue;
  }
  
  &.is-error {
    color: $red;
  }
}

//admin

.admin-tabs {
  @extend %tabs;
  margin-bottom: $base-spacing-size;
}

.statistics-box {
  @include span-columns(1);
  @include omega(4n);
  word-wrap: break-word;
  padding: $half-spacing-size 0;
  margin-bottom: $base-spacing-size;
  background: $lightest-grey;
}

.statistics-title {
  text-align: center;
}

.statistics-count {
  text-align: center;
}

.new-category {
  margin-bottom: $base-spacing-size;
  
  @media #{$medium} {
	text-align: right;
  }
}



  
/*
div.container {
  @include outer-container;
  
  div.element {
    @include span-columns(4);
	//styles

	@media #{$medium} {
      @include span-columns(4);
	  //styles
    }
	
	@include media( $medium-only ) {
	  @include omega(2n);
	  //only for omega.
    }
	
	@include media( $large ) {
      @include span-columns(3);
	  //styles
	}
  }
  
  
}
*/
