{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans 'Password reset confirmation' %}{% endblock %}

{% block content %}

    {% if validlink %}

        <h1 class="headline">{% trans 'Enter new password' %}</h1>

        <form action="." method="post">{% csrf_token %}
            {% include "spirit/_form.html" %}

            <input class="button" type="submit" name="post" value="{% trans 'Save' %}" />
        </form>

    {% else %}

        <h1 class="headline">{% trans 'Password reset unsuccessful' %}</h1>

        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}