{# django.contrib.messages #}
{% if messages_grouped %}
<div class="js-messages messages">
    {% for level, messages in messages_grouped.items %}
    <div class="js-messages-set messages_{{ level }}">
        <ul class="message_text">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <div class="js-messages-close messages_close" style="display: none">
            <i class="fa fa-times js-messages-close-button messages_close__button"></i>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
