{% load spirit_tags i18n %}

{% include "spirit/user/admin/_tabs.html" with active_tab=active_tab %}

<div class="admin__items_list">
  {% for u in users %}
    <div class="admin__items_list__item js-clickable-area">
      <div class="admin__items_list__item__title">
        <a href="{{ u.st.get_absolute_url }}">{{ u.st.nickname }}</a>
      </div>
      <div class="admin__items_list__item__action">
        <a
          class="js-clickable-area-target"
          href="{% url "spirit:admin:user:edit" user_id=u.pk %}"
        ><i class="fa fa-cog"></i> {% trans "edit" %}</a>
      </div>
    </div>
  {% endfor %}
</div>

{% render_paginator users %}
