{% load i18n %}

{% if notification %}
    <form method="post" action="{% url "spirit:topic-notification-update" notification.pk %}">
{% else %}
    <form method="post" action="{% url "spirit:topic-notification-create" topic_id %}">
{% endif %}
    {% csrf_token %}
    {% include "spirit/_form.html" %}

    {% if notification.is_active %}
        <input class="button is-undo" type="submit" value="{% trans "Unnotify Me" %}" />
    {% else %}
        <input class="button" type="submit" value="{% trans "Notify Me" %}" />
    {% endif %}
</form>