// Tabs object

.tabs,
%tabs {
  @extend %inline-list;
}

.tab-link,
%tab-link {
  display: block;
  font-size: 18px;
  padding: 0 $half-spacing-size $quarter-spacing-size $half-spacing-size;
  
  &.is-selected {
    color: $black;
	border-bottom: $light-grey 4px solid;
  }
}