{# todo: remove this, use :target on menu #}

{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "User menu" %}{% endblock %}

{% block content %}
  <div class="layout__article">
    <h1 class="headline">{% trans "Menu" %}</h1>

    {% spaceless %}
      <ul class="menu_list">
        <li><a
          class="menu_list__link"
          href="{% url "spirit:user:detail" pk=user.pk slug=user.st.slug %}"
        >{% trans "Profile" %}</a></li>
        <li><a
          class="menu_list__link"
          href="{% url "spirit:topic:index-active" %}"
        >{% trans "Topics" %}</a></li>
        <li><a
          class="menu_list__link"
          href="{% url "spirit:topic:unread:index" %}"
        >{% trans "Unread topics" %}</a></li>
        <li><a
          class="menu_list__link"
          href="{% url "spirit:topic:private:index" %}"
        >{% trans "Private topics" %}</a></li>
        {% if user.st.is_administrator %}
          <li><a
            class="menu_list__link"
            href="{% url "spirit:admin:index" %}"
          >{% trans "Admin" %}</a></li>
        {% endif %}
        <li><a
          class="menu_list__link js-post"
          href="{% url "spirit:user:auth:logout" %}"
        >{% trans "Log out" %}</a></li>
      </ul>
    {% endspaceless %}
  </div>
{% endblock %}
