{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
  <div class="layout__article">
    <h1 class="headline">{% trans "Login" %}</h1>

    <div class="login">
      <form action="." method="post">
        {% csrf_token %}
        {% include "spirit/_form.html" %}

        <input class="button" type="submit" name="post" value="{% trans "Login" %}" />
      </form>
    </div>

    <div class="login__links">
      <a class="login__links__link" href="{% url "spirit:user:auth:register" %}"
      >{% trans "Create an account" %}</a>
      <a class="login__links__link" href="{% url "spirit:user:auth:password-reset" %}"
      >{% trans "I don't know my password" %}</a>
      <a class="login__links__link" href="{% url "spirit:user:auth:resend-activation" %}"
      >{% trans "Resend activation email" %}</a>
    </div>
  </div>
{% endblock %}
