// Colors

$grey: #979797 !default;
$dark-grey: #444444 !default;
$light-grey: #cecece !default;
$lightest-grey: #f6f6f6 !default;

$red: #c65555 !default;
$light-red: #fce2e2 !default;

$blue: #56a9c7 !default;
$dark-blue: #95a2a7 !default;
$light-blue: #e2f5fc !default;

$black: #1c1c1c !default;
$white: #fefefe !default;
$yellow: #ffffe9 !default;