// Forms styles


// help text has no element, so this
// font-size hack is needed
.field {
  font-size: 14px;
  line-height: 14px * 1.5;
  margin-bottom: $space-full;
  & > * {
    font-size: 1rem;
    line-height: 1rem * 1.5;
  }
}

.checkboxes {
  overflow: auto;
  max-height: $base-line-height * 6;
  margin-bottom: $base-spacing-size;
  background-color: var(--st-bg-checkbox);
  border: 1px solid var(--st-br-checkbox);
}

.errorlist {
  color: var(--st-text-error-list);
  margin-bottom: $half-spacing-size;
}
