{% load spirit_tags i18n %}

{% load static from staticfiles %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="{% trans 'PROFIT platform demo' %}">
	<meta name="author" content="Katerina Katmada">
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
	<title>{% trans 'PROFIT Platform' %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'spirit/stylesheets/styles.all.min.css' %}">
    <link rel="stylesheet" href="{% static 'spirit/stylesheets/styles.css' %}">
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script src="{% static 'spirit/scripts/all.min.js' %}"></script>
    <script src="{% static 'spirit/scripts/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'spirit/scripts/js/lib/jquery/jquery-1.12.4.min.js' %}"></script>


    <script>

	$( document ).ready(function() {

        $.tab();

        $( 'a.js-post' ).postify( {
            csrfToken: "{{ csrf_token }}",
        } );

        $('.js-messages').messages();

        {% if user.is_authenticated %}
            $.notification( {
                notificationUrl: "{% url "spirit:topic:notification:index-ajax" %}",
                notificationListUrl: "{% url "spirit:topic:notification:index-unread" %}",
                mentionTxt: "{% trans "{user} has mention you on {topic}" %}",
                commentTxt: "{% trans "{user} has commented on {topic}" %}",
                showAll: "{% trans "Show all" %}",
                empty: "{% trans "No new notifications, yet" %}",
                unread: "{% trans "unread" %}",
            } );
        {% endif %}

	});

	</script>

    {% block head-extra %}{% endblock %}

  </head>

  <body>

    {% include 'spirit/_profit_header.html' %}
    {% include 'spirit/_header.html' %}
    {% render_messages messages %}
    {% block content %}{% endblock %}
    {% include 'spirit/_profit_footer.html' %}

  </body>

</html>
