{% load i18n %}
{% load static %}
{% load profit %}

{{ config.template_footer|safe }}

	<nav class="navbar navbar-default navbar-fixed-top" id="top">
		<div class="container logo">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">{% trans 'Toggle navigation' %}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="{% static 'images/profit_small.png' %}" height="44" alt="PROFIT Logo"></a>
			</div>
		
			<div id="navbar" class="navbar-collapse collapse">
				<div class="navbar-right">
					<form class="navbar-form navbar-left" role="search" id="custom-search-input">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="{% trans 'Search' %}">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<img src="{% static 'images/platform_icons/zoom-blue.svg' %}" height="20" alt="{% trans 'Search' %}">
								</button>
								</span>
						</div>
					</form>

					<ul class="nav navbar-nav navbar-right">
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<img class="menu_icons" src="{% static 'images/platform_icons/chart_top_menu-blue.svg' %}" height="20" alt="{% trans 'Platform activity' %}" title="{% trans 'Platform activity' %}">
								<span class="visible-xs-inline icon-label">{% trans 'Platform activity' %}</span>
							</a>
							
							<ul class="dropdown-menu" role="menu">
								<li><a href="{% url 'article:articles' %}">{% trans 'Articles' %}</a></li>
								<li><a href="{% url 'polls:index' %}">{% trans 'Polls' %}</a></li>
								<li><a href="{% url 'spirit:index' %}">{% trans 'Discussions' %}</a></li>
								<li><a href="#">{% trans 'Graphs' %}</a></li>
							</ul>
						</li>
                            
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<img class="menu_icons" src="{% static 'images/platform_icons/read-blue.svg' %}" height="20" alt="{% trans 'Learning center' %}" title="{% trans 'Learning center' %}">
								<span class="visible-xs-inline icon-label">{% trans 'Learning center' %}</span>
							</a>
							
							<ul class="dropdown-menu" role="menu">
								<li><a href="{% url 'financial_toolkit:test' %}">{% trans 'Financial literacy test' %}</a></li>
								<li><a href="{% url 'financial_toolkit:thematic_units' %}">{% trans 'Educational material' %}</a></li>
								<li><a href="{% url 'quiz:index' %}">{% trans 'Quiz' %}</a></li>
								<li><a href="{% url 'sentiment:sentiment_recession' %}">{% trans 'Market sentiment' %}</a></li>
								<li><a href="{% url 'forecasting:forecast_oil' %}">{% trans 'Forecasting results' %}</a></li>
							</ul>
						</li>
                        
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<img class="menu_icons" src="{% static 'images/platform_icons/write-blue.svg' %}" height="20" alt="{% trans 'Contribute' %}" title="{% trans 'Contribute' %}">
								<span class="visible-xs-inline icon-label">{% trans 'Contribute' %}</span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="{% url 'article:manage:user:create' %}">{% trans 'Create/Upload article' %}</a></li>
								<li><a href="{% url 'polls:addPolls' %}">{% trans 'Create/Edit Poll' %}</a></li>
								<li><a href="#">{% trans 'Create/Upload educational material' %}</a></li>
								<li><a href="#">{% trans 'Edit educational material' %}</a></li>
								<li><a href="#">{% trans 'Update knowledge graph' %}</a></li>
							</ul>
						</li>
                            
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								{% if request.user.is_authenticated and request.user.userprofile.profile_image %}
									<img class="menu_icons img-rounded" src="{{ request.user.userprofile.profile_image.thumbnail.url }}" height="20" alt="{% trans 'User profile' %}" title="{% trans 'User profile' %}">
									<span class="visible-xs-inline icon-label">{% trans 'User profile' %}</span>
								{% else %}
									<img class="menu_icons" src="{% static 'images/platform_icons/user_top_menu-blue.svg' %}" height="20" alt="{% trans 'Login/Register' %}" title="{% trans 'Login/Register' %}">
									<span class="visible-xs-inline icon-label">{% trans 'Login/Register' %}</span>
								{% endif %}
							</a>
							
							<ul class="dropdown-menu" role="menu">
								{# TODO - upraviť odkazy, pridať podľa profile.html #}
								{% if request.user.is_authenticated %}
									{# TODO: active link should have class=dp-active #}
									<li><a href="{% url 'userprofile:profile' request.user.username %}">{% trans 'Dashboard' %}</a></li>
									<li><a href="{% url 'userprofile:settings:general' %}">{% trans 'Settings' %}</a></li>
									<li><a href="help.html">{% trans 'Help center' %}</a></li>
									<li class="divider"></li>
									<li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
								{% else %}
									<li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
									<li><a href="{% url 'registration_register' %}">{% trans 'Register' %}</a></li>
								{% endif %}
							</ul>
						</li>
                        
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div class="container" id="floating-alert">
		<div class="row">
			<div class="col-xs-12">
				{% for message in messages %}
					{% alert message %}
				{% endfor %}
			</div>
		</div>
	</div>

