{% load spirit_tags i18n %}

{% include "spirit/comment/flag/admin/_tabs.html" with active_tab=active_tab %}

<div class="admin__items_list">
  {% for f in flags %}
    <div class="admin__items_list__item js-clickable-area">
      <div class="admin__items_list__item__title">
        <a href="{{ f.comment.get_absolute_url }}"
        >{{ f.comment.topic.title }}</a>
      </div>
      <div class="admin__items_list__item__action">
        <a
          class="js-clickable-area-target"
          href="{% url "spirit:admin:flag:detail" pk=f.pk %}"
        ><i class="fa fa-cog"></i> {% trans "moderate" %}</a>
      </div>
    </div>
  {% endfor %}
</div>

{% render_paginator flags %}
