
  {% for article in page %}
    <h1>{{ article.title }}</h1>
  {% endfor %}

  {% spaceless %}
    <ul class="paginator">
      <li>
        {% if page.next_pages_left == limit %}
           +
        {% endif %}
        {{ page.next_pages_left }} pages left
      </li>
      {% if page.prev_page %}
        <li>
          <a class="paginator-button"
            href="?p={{ page.prev_page }}&d=prev"
          >{% trans "Prev" %} <i class="fa fa-chevron-left"></i></a>
        </li>
      {% endif %}
      {% if page.next_page %}
        <li>
          <a class="paginator-button"
            href="?p={{ page.next_page }}&d=next"
          >{% trans "Next" %} <i class="fa fa-chevron-right"></i></a>
        </li>
      {% endif %}
    </ul>
  {% endspaceless %}
